@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-item {
    @apply relative;
  }

  .nav-item::after {
    @apply content-[''] bg-blue-700 h-[2px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-200;
  }

  .nav-item:focus::after {
    @apply w-[100%] bg-blue-700;
  }

  .nav-item:hover::after {
    @apply w-[100%] bg-blue-400;
  }

  .nav-item-actived {
    @apply text-blue-700;
  }
  .nav-item-actived::after {
    @apply w-[100%] bg-blue-700;
  }

  .circular-progress {
    @apply relative w-16 h-16 rounded-full bg-blue-700 grid place-items-center;
  }

  .circular-progress::before {
    @apply absolute content-[''] h-[84%] w-[84%] bg-white rounded-full;
  }

  .nav-active {
    @apply bg-slate-50 rounded-lg text-gray-500 shadow-md hover:bg-white/60 hover:text-gray-700 py-2 px-3 cursor-default;
  }

  .nav-default {
    @apply py-2 px-3 text-gray-300 rounded hover:bg-transparent hover:text-gray-400 cursor-default;
  }
}

.btn-create {
  @apply w-[150px] border-[1px] border-sky-400 text-blue-700 bg-white hover:text-white hover:bg-blue-700 focus:ring-1 focus:ring-blue-300 font-medium rounded-3xl text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center gap-3;
}

.btn-delete {
  @apply w-[150px] border-[1px] border-red-400 text-red-600 bg-white hover:text-white hover:bg-red-600 focus:ring-1 focus:ring-red-200 font-medium rounded-3xl text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center gap-3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
